#kaocha/v1
{;; add the plugin globally but enable it on each test scenario
 :plugins         [:retry.plugin/retry]
 :capture-output? false

 :tests [{:id                  :unit
          :retry.plugin/retry? true
          :test-paths          ["test"]}]}
